menu "App configuration"

    config APP_HEARTBEAT_PERIOD_MS
        int "Heartbeat period (ms)"
        default 1000
        range 100 2000
        help
            Set the heartbeat period (in milliseconds)

endmenu

menu "Zephyr configuration"
    source "Kconfig.zephyr"
endmenu
