mainmenu "My Zephyr App"

menu "Zephyr config"
    source "Kconfig.zephyr"
endmenu

menu "App configuration"
    rsource "drivers/my_driver/Kconfig"
    config LED_BLINK_INTERVAL
        int "LED Blink Interval"
        default 3000
        help
            Time in milliseconds to blink the LED
endmenu
