/ {
    aliases {
        pwm-led0 = &pwm_led0;
    };

    pwmleds {
        compatible = "pwm-leds";
        pwm_led0: pwm_led_0 {
            /* Usar el canal 0 del controlador ledc0 */
            pwms = <&ledc0 0 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
        };
    };
};

&pinctrl {
    ledc0_default: ledc0_default {
        group1 {
            /* Asignar el canal 0 del controlador LEDC al GPIO 2 */
            pinmux = <LEDC_CH0_GPIO2>;
            output-enable;
        };
    };
};

&ledc0 {
    pinctrl-0 = <&ledc0_default>;
    pinctrl-names = "default";
    status = "okay";
    
    /* Indicar a Zephyr que este nodo contiene subnodos indexados */
    #address-cells = <1>;
    #size-cells = <0>;

    /* Declaración del canal 0 */
    channel0@0 {
        reg = <0>;
        timer = <0>;
    };
};
